!!! 5
html(lang='en')
  head
    link(rel='stylesheet',type='text/css',href='/app.css')
    title= 'annyr'
  body
    #container
      #header
        h1
          a(href='/') SongR
        h3 send a friend a song!
      #content
        !{body}
.hide snogit!
