!!! 5
html(lang='en')
  head
    link(rel='stylesheet',type='text/css',href='/app.css')
    title RingSong
  body
    #container
      #header
        h1
          a(href='/') RingSong
        h3 ring a friend a song!
      #content
        !{body}
.hide snogit!
